# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environment
venv/
venv2/
env/
.venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

firebase_key.json